.head-img {
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
    background-image: url(https://ekko.nl/thumbs/1600x1000c/2017-10/actiescherm.png);
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow:auto;
}

.header {
    width: 983px;
    margin: 0 auto;
    height: 150px;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 140px;
    height: 42px;
    margin-top: 30px;
    background-image: url(https://ekko.nl/theme/ekko-v3/img/sprite.svg);
    background-position: -250px 0;
    background-repeat: no-repeat;
    background-size: 1500px 1000px;
    text-indent: -5000em;
}

.header .logo div {
    
}

nav.mainnav {
    width: 100%;
    display: block;
    
}

nav.mainnav ul {
    float: left;
    width: 100%;
    list-style-type: disc;
    line-height: 1.4;
    list-style-position: outside;
    border-bottom: 1px solid white;
    margin-top: 30px;
}

nav.mainnav ul li {
    display: block;
    float: left;
    text-align: center;
}

nav.mainnav ul li a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 1rem 2.25rem 1rem 1rem;
}

@media screen and (max-width: 1024px) {
    .header {
        width: 792px;
    }
}