<div *ngIf="homePageImg" class="head-img">
    <div class="logo" routerLink="/home"></div>
</div>

<div class="header">
    <div class="logo" routerLink="/home"></div>
    <nav class="mainnav">
        <ul>
            <li class="first"><a routerLink="/home">home</a></li>
            <li><a routerLink="/nieuws">nieuws</a></li>
            <li><a routerLink="/login">login</a></li>
            <li><a routerLink="/register">register</a></li>
        </ul>
    </nav>
</div>

<div>
    AIFEISFKSF
    fdsFKDSFSnsfjfe
    fjesiojfesofes
</div>
<div>
    AIFEISFKSF
    fdsFKDSFSnsfjfe
    fjesiojfesofes
</div>
<div>
    AIFEISFKSF
    fdsFKDSFSnsfjfe
    fjesiojfesofes
</div>
<div>
    AIFEISFKSF
    fdsFKDSFSnsfjfe
    fjesiojfesofes
</div>
<div>
    AIFEISFKSF
    fdsFKDSFSnsfjfe
    fjesiojfesofes
</div>

<router-outlet></router-outlet>