<form [formGroup]="lForm" (ngSubmit)="submitForm(lForm.value)">
  <div class="form-container">
    <div class="row columns">

      <h1>Login</h1>

      <label>Username
        <input type="text" formControlName="username">
      </label>
      <div class="alert" *ngIf="!lForm.controls['username'].valid && lForm.controls['username'].touched">Tis is required</div>

      <label>Password
        <input type="password" formControlName="password">
      </label>
      <div class="alert" *ngIf="!lForm.controls['password'].valid && lForm.controls['password'].touched">You must specify a description that's between 30 and 500 characters.</div>

      <input type="submit" class="button expanded" value="Submit Form" [disabled]="!lForm.valid">
    </div>
  </div>
</form>